<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Brewery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="b-example-divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3"> </div>
    <header class="d-flex justify-content-left py-8">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page" style="color: black;">Home</a></li>
        <li class="nav-item"><a href="breweries.html" class="nav-link" style="color: black;">Breweries</a></li>
        <li class="nav-item"><a href="bar_chartjs_lib.html" class="nav-link" style="color: black;">MicroB Info</a></li>
        <li class="nav-item"><a href="faq.html" class="nav-link" style="color: black;">FAQs</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link" style="color: black;">About</a></li>
      </ul>
      <hr></hr>
    </header>

    <!-- Jumbotron -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well jumbotron text-center w-100" style="background-color: #bd8b41;">
          <!-- <div id="logo"><img src="/static/img/beer.png"> -->
            <h1 style="font-family:georgia,garamond,serif;color:black">Frequently Asked Questions</h1>

        </div>
        <!-- <h1> Frequently Asked Questions</h1> -->
      </div>
      <!-- <div class="mb-4"> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-md-4 col-lg-3"> </div>
        <h2 class="text-body-emphasis">What are the different kinds of breweries?</h1>

        <ul style = "list-style-image: url(/static/img/beer.png);">
        <li><b>Macrobrewery</b></li>
        <p>Macrobreweries are the "big-name" brewing companies whose product can be purchased worldwide.
          They produce millions of barrels of beer per year. The beer from these companies are often seen
          as more quantity than quality focused, have a lighter color and a more watery consistency than most craft beers.</p>
        <li><b>Microbrewery</b></li>
        <p>Microbreweries are smaller, oftentimes independently owned breweries selling craft beer.
          They produce less than 15,000 barrels of beer per year which is mostly sold and consumed off-site. Microbreweries
          can sell their beer directly to customers or in a two-tiered or three-tiered selling process.</p>
        <li><b>Regional Brewery</b></li>
        <p>Regional breweries fall in between microbreweries and macrobreweries. They serve beer in a fixed geographical location and produce between 15,000 and 6,000,000 barrels per year.</p>
        <li><b>Nanobrewery</b></li>
        <p>Nanobreweries produce less than 2,000 barrels of beer per year. They are considered
          the starting phase of a brewery before they become microbreweries. Their beer can be produces in batches as small as 3 barrels. </p>
        <li><b>Brewpubs and Gastropubs</b></li>
        <p>Brewpubs and gastropubs are hybrids of breweries and restaurants. The beer is primarly brewed
          to be sold and consumed on-site alongside food. The brewery must sell at least 25% of their product on-site to be considered a brewpub or gastropub.
          Gastropubs place more emphasis on the quality of food than brewpubs, and typically sell more gourmet food items. </p>
        <li><b>Meadery and Cidery</b></li>
        <p>Meaderies produce mead, which is an alcoholic beverage created by the fermentation of honey,
          water, and yeast. Cideries produce cider, which is an alcoholic beverage created by the fermentation of apple juice.</p>
        <li><b>Contract Brewery</b></li>
        <p>Contract breweries are breweries that brew their product on equipment that isn't actually owned by the company. 
          Some companies will start off as contract breweries until they can get their own equipment, and other companies may use contract breweries to 
          supplement their productions.</p>
        </ul>
        <!-- <h3>Other Information:</h3> -->
      <!-- <div class="mb-5"-->
        <!-- <p>One barrel of beer is equal to 31 US gallons, or 117 liters.</p>
        <p>Kegs carry about half the amount of beer as a US barrel.</p>
        <p>Craft beer refers to any beer produced by a small, independent brewery. </p>
        <p>It is made using traditional ingredients and processes,
          with an emphasis on flavor and innovation.</p>
      </div>  --> 
    </div>
      <!-- class="text-body-emphasis"> -->

      
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item" style="font-size: 1.2pc;"><a href="#"
              class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="breweries.html"
              class="nav-link px-2 text-body-secondary">Breweries</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="faq.html"
              class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="about.html"
              class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Data Dynamos, Inc</p>
      <p><class="text-center a href="https://www.flaticon.com/free-icons/beer" title="beer icons">Beer icons created by Freepik - Flaticon</a></p>
      </footer>
    </div>
</body>

</html>