<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Brewery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="b-example-divider"></div>
  <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3"> </div>
    <header class="d-flex justify-content-left py-8">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" style="color: black;">Home</a></li>
        <li class="nav-item"><a href="breweries.html" class="nav-link" style="color: black;">Breweries</a></li>
        <li class="nav-item"><a href="faq.html" class="nav-link" style="color: black;">FAQs</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link" style="color: black;">About</a></li>
      </ul>
      <hr></hr>
    </header>
  </div>
  </div>
    <!-- Jumbotron -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well jumbotron text-center w-100" style="background-color: #bd8b41;">
        
          <h1 class="mb-5 h2">Top Rated Breweries</h1>

        </div>
        <h1> Frequently Asked Questions</h1>
      </div>
      <h1 class="text-body-emphasis">What are the different kinds of breweries?</h1>
      <div class="mb-5">
        <p>Here is some common terminology you might encounter when exploring breweries:</p>
        <h2>Macrobrewery</h2>
        <p>Macrobreweries are the "big-name" brewing companies whose product can be purchased worldwide.
          They produce millions of barrels of beer per year. The beer from these companies are often seen
          as more quantity than quality focused, have a lighter color and a more watery consistency than most craft beers.</p>
        <h2>Microbrewery</h2>
        <p>Microbreweries are smaller, oftentimes independently owned breweries selling craft beer.
          They produce less than 15,000 barrels of beer per year which is mostly sold and consumed off-site. Microbreweries
          can sell their beer directly to customers or in a two-tiered or three-tiered selling process.</p>
        <h2>Regional Brewery</h2>
        <p>Regional breweries fall in between microbreweries and macrobreweries. They serve beer in a fixed geographical location and produce between 15,000 and 6,000,000 barrels per year.</p>
        <h2>Nanobrewery</h2>
        <p>Nanobreweries produce less than 2,000 barrels of beer per year. They are considered
          the starting phase of a brewery before they become microbreweries. Their beer can be produces in batches as small as 3 barrels. </p>
        <h2>Brewpubs and Gastropubs</h2>
        <p>Brewpubs and gastropubs are hybrids of breweries and restaurants. The beer is primarly brewed
          to be sold and consumed on-site alongside food. The brewery must sell at least 25% of their product on-site to be considered a brewpub or gastropub.
          Gastropubs place more emphasis on the quality of food than brewpubs, and typically sell more gourmet food items. </p>
        <h2>Meadery and Cidery</h2>
        <p>Meaderies produce mead, which is an alcoholic beverage created by the fermentation of honey,
          water, and yeast. Cideries produce cider, which is an alcoholic beverage created by the fermentation of apple juice.</p>
        <h2>Contract Brewery</h2>
        <p>Contract breweries are breweries that brew their product on equipment that isn't actually owned by the company. Some companies
          will start off as contract breweries until they can get their own equipment, and other companies may use contract breweries to 
          supplement their productions.</p>
      
      <h1 class="text-body-emphasis">Other Information:</h1>
      <div class="mb-5">
        <ul>One barrel of beer is equal to 31 US gallons, or 117 liters.</ul>
        <ul>Kegs carry about half the amount of beer as a US barrel.</ul>
        <ul>Craft beer refers to any beer produced by a small, independent brewery. It is made using traditional ingredients and processes,
          with an emphasis on flavor and innovation.</ul>
      </div> 
        <title>Brewery Bar Chart</title>
          <style>
            * {
              margin: 0;
              padding: 0;
              font-family: sans-serif;
            }
            .chartMenu {
              width: 100vw;
              height: 40px;
              background: #f5f0f0;
              color: rgb(247, 250, 252);
            }
            .chartMenu p {
              padding: 10px;
              font-size: 20px;
            }
            .chartCard {
              width: 100vw;
              height: calc(100vh - 40px);
              background: rgba(255, 255, 255, 0.6);
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .chartBox {
              width: 60%;
              padding: 20px;
              border-radius: 20px;
              border: solid 3px rgb(255, 255, 255);
              background: white;
              
            }
            </style>
       
            </header>
        
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body>
      
        <div id="chartContainer2">
          <body>
            <!-- <div class="chartMenu">
              <p></p> (Chart JS <span id="chartVersion"></span>)</p>
            </div> -->
            <div class="chartCard">
              <div class="chartBox">
              <canvas id="myChart"></canvas>
              </div>
            </div>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
            <script>
        
        
            const ctx = document.getElementById('myChart');
            d3.json("/data/brewery_untappd_export_MD.json", function (data) {
        
        
              console.log(data);
        
          let unique = [...new Set(data.map(item => item.brewery_type))];
          console.log(unique);
        
          //var data = // your data here
          var categories = data.reduce(function(acc, crime) {
            if (!acc[crime.brewery_type])   // if current category not in acc object
              acc[crime.brewery_type] = 1;  // add it to acc with value 1
              else                        // otherwise (it exists), so
              acc[crime.brewery_type]++;    // increment it
            return acc;
          }, {});
          console.log(categories);
          console.log(categories["brewery_type"]);
          let types = Object.keys(categories);
          let count = Object.values(categories);
          console.log(types);
          console.log(count);
        
          new Chart(ctx, {
              type: 'bar',
            data: {
            labels: types,
            datasets: [{
              label: 'Count',
              data: count,
              borderWidth: 2
            }]
              },
            backgroundColor: [
                  'rgba(255, 26, 104, 0.2)', //90% has color
                  'transparent'
          ],
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                },
            plugins: {
              tooltip:{
                enabled:false
              },
                //remove the legned box so that the doughnut chart is 
              legend: {
                display: false
              }
              }
          }
            });
          
              });
            chart.update()
          </script>
        </body>

  
      
    
    
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item" style="font-size: 1.2pc;"><a href="#"
              class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="#"
              class="nav-link px-2 text-body-secondary">Breweries</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="#"
              class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item" style="font-size: 1.2pc;"><a href="#"
              class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Data Dynamos, Inc</p>
      </footer>
    </div>
</body>

</html>